@font-face {
  font-family: IRANSansMobile;
  src: url("../font/Fonts/irsans_p30download.com.ttf");
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: IRANSansMobile;
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 0;
  background-color: rgb(231, 231, 231);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(168, 168, 168);
  border: 2px solid rgb(231, 231, 231);
}
body .safhe-tar {
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
body .form-worod {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  right: 35%;
  width: 25%;
  height: 300px;
  display: none;
  background-color: #fff;
  padding: 1.5%;
  border-radius: 15px;
  z-index: 10000000;
}
@media (max-width: 1200px) {
  body .form-worod {
    width: 50%;
    right: 23%;
  }
}
@media (max-width: 568px) {
  body .form-worod {
    width: 97%;
    height: 100%;
    right: 0;
    top: 1.5%;
    border-radius: 0;
  }
}
body .form-worod .logo-form-worod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .form-worod .logo-form-worod i {
  color: #333;
  cursor: pointer;
}
body .form-worod .logo-form-worod div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  line-height: 15px;
}
body .form-worod .logo-form-worod div p {
  color: #FF00A6;
  font-size: 18px;
  margin: 0;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .form-worod .worod-ozviat-form-worod {
  font-size: 22px;
  margin: 7px 0 60px 0;
}
body .form-worod .worod-ozviat-form-worod a {
  font-weight: 700;
  color: #333;
}
body .form-worod .worod-ozviat-form-worod a span {
  font-weight: 400;
}
body .form-worod .input-form-worod {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  align-items: flex-start;
  justify-content: center;
}
body .form-worod .input-form-worod label {
  font-size: 13px;
  color: rgb(117, 117, 117);
  font-weight: 700;
}
body .form-worod .input-form-worod input {
  width: 98%;
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}
body .form-worod .input-form-worod input:focus {
  outline: none;
  border: 1px solid #000;
}
body .form-worod .input-form-worod p {
  margin: 0;
  font-size: 11px;
  color: rgb(117, 117, 117);
}
body .form-worod button {
  position: absolute;
  bottom: 20px;
  width: 90.5%;
  height: 45px;
  border: none;
  background-color: #e2e2e2;
  color: rgb(128, 128, 128);
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
body .d-2-sec-1-header {
  position: fixed;
  z-index: 10000000;
  top: 10px;
}
@media (max-width: 1098px) {
  body .d-2-sec-1-header {
    display: none;
  }
}
@media (max-width: 1250px) {
  body .d-2-sec-1-header {
    right: 40%;
  }
}
body .d-2-sec-1-header p {
  position: absolute;
  top: 50px;
  width: calc(30vw - 30px);
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  display: none;
}
body .d-2-sec-1-header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 5px;
  width: 30vw;
  position: relative;
}
body .d-2-sec-1-header form i {
  color: rgb(161, 161, 161);
  padding-right: 10px;
}
body .d-2-sec-1-header form input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 10000000;
}
body .d-2-sec-1-header form input:focus {
  outline: none;
}
body .d-2-sec-1-header form input::-moz-placeholder {
  font-size: 15px;
  color: rgb(161, 161, 161);
}
body .d-2-sec-1-header form input::placeholder {
  font-size: 15px;
  color: rgb(161, 161, 161);
}
body .location-header {
  position: fixed;
  top: 13%;
  right: 30%;
  width: 40%;
  display: none;
  height: 600px;
  border-radius: 12px;
  z-index: 100000;
  background-color: #fff;
}
@media (max-width: 1300px) {
  body .location-header {
    width: 60%;
    right: 16%;
  }
}
@media (max-width: 768px) {
  body .location-header {
    width: 100%;
    height: 100%;
    right: 0;
    top: -20px;
    border-radius: 0;
  }
}
body .location-header .d-1-location-header {
  color: #333;
  padding: 15px;
}
body .location-header .d-1-location-header i {
  cursor: pointer;
}
body .location-header .d-1-location-header h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}
body .location-header .d-1-location-header p {
  font-size: 12px;
  margin: 0;
  color: rgb(29, 29, 29);
}
body .location-header .d-2-location-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("../img/iran-map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
  max-height: 58vh;
}
body .location-header .d-2-location-header .form-d-2-location-header {
  width: 100%;
}
body .location-header .d-2-location-header .form-d-2-location-header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px;
  width: calc(100% - 60px);
  padding: 0 15px;
}
body .location-header .d-2-location-header .form-d-2-location-header form p {
  margin-left: 25px;
  padding-left: 10px;
  border-left: 1px solid #929292;
}
body .location-header .d-2-location-header .form-d-2-location-header form i {
  color: #929292;
}
body .location-header .d-2-location-header .form-d-2-location-header form input {
  width: 100%;
  border: none;
  height: 100%;
}
body .location-header .d-2-location-header .form-d-2-location-header form input:focus {
  outline: none;
}
body .location-header .d-2-location-header .form-d-2-location-header form input[value] {
  font-weight: 600;
  color: rgb(87, 87, 87);
}
body .location-header .d-2-location-header .btn-d-2-location-header {
  padding: 10px;
}
body .location-header .d-2-location-header .btn-d-2-location-header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
}
body .location-header .d-3-location-header {
  padding: 0 15px;
  margin-top: 15px;
}
body .location-header .d-3-location-header button {
  border: none;
  background-color: #FF00A6;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 0;
}
body .location-header .d-3-location-header button:hover {
  opacity: 0.8;
}
body .form-h-header {
  position: fixed;
  z-index: 10000000;
  top: 10px;
  display: none;
}
@media (max-width: 568px) {
  body .form-h-header {
    top: 0;
  }
}
body .form-h-header p {
  position: absolute;
  top: 50px;
  width: calc(40vw - 30px);
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 13px;
}
@media (max-width: 768px) {
  body .form-h-header p {
    width: calc(70vw - 30px);
  }
}
@media (max-width: 568px) {
  body .form-h-header p {
    width: calc(100vw - 30px);
  }
}
body .form-h-header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 5px;
  width: 40vw;
  position: relative;
}
@media (max-width: 768px) {
  body .form-h-header form {
    width: 70vw;
  }
}
@media (max-width: 568px) {
  body .form-h-header form {
    width: 100vw;
  }
}
body .form-h-header form i {
  color: rgb(161, 161, 161);
  padding-right: 10px;
}
body .form-h-header form input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 10000000;
}
body .form-h-header form input:focus {
  outline: none;
}
body .form-h-header form input::-moz-placeholder {
  font-size: 15px;
  color: rgb(161, 161, 161);
}
body .form-h-header form input::placeholder {
  font-size: 15px;
  color: rgb(161, 161, 161);
}

* {
  font-family: IRANSansMobile;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 5px 0 2px 0 rgb(190, 190, 190);
}
@media (max-width: 1300px) {
  header {
    width: calc(100% + 10px);
    right: -10px;
  }
}
header .sec-1-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px 40px;
  background-color: #fff;
  width: calc(100% - 50px);
  height: 50px;
}
@media (max-width: 1098px) {
  header .sec-1-header .d-3-sec-1-header {
    display: none !important;
  }
}
@media (max-width: 568px) {
  header .sec-1-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .sec-1-header .d-1-sec-1-header {
  display: flex;
  flex-direction: row;
}
header .sec-1-header .d-1-sec-1-header .snapp-food-pink-h {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  line-height: 18px;
  align-items: flex-end;
  justify-content: center;
  color: #FF00A6;
  font-size: 20px;
  margin-left: 40px;
  font-weight: 900;
}
@media (max-width: 600px) {
  header .sec-1-header .d-1-sec-1-header .snapp-food-pink-h {
    display: none;
  }
}
header .sec-1-header .d-1-sec-1-header .snapp-food-pink-h p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .sec-1-header .d-1-sec-1-header .target-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .sec-1-header .d-1-sec-1-header .target-header .material-icons {
  color: #c5c5c5;
  margin-left: 15px;
}
header .sec-1-header .d-1-sec-1-header .target-header .adress-header {
  display: flex;
  flex-direction: column;
}
header .sec-1-header .d-1-sec-1-header .target-header .adress-header h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}
header .sec-1-header .d-1-sec-1-header .target-header .adress-header p {
  margin: 0;
  font-size: 8.5px;
  color: #929292;
}
header .sec-1-header .d-1-sec-1-header .target-header .adress-header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header .sec-1-header .d-1-sec-1-header .target-header .adress-header div i {
  color: #FF00A6;
  font-size: 20px;
  padding-right: 8px;
}
header .sec-1-header .d-3-sec-1-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .sec-1-header .d-3-sec-1-header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
header .sec-1-header .d-3-sec-1-header div i {
  color: rgb(97, 97, 97);
}
header .sec-1-header .d-3-sec-1-header div p {
  font-size: 12.5px;
  padding-right: 5px;
  color: rgb(53, 53, 53);
}
header .sec-1-header .d-3-sec-1-header a {
  background-color: #FF00A6;
  color: #fff;
  font-weight: 700;
  padding: 16px 7px;
  border-radius: 7px;
  font-size: 14px;
}
header .sec-1-header .d-3-sec-1-header a:hover {
  opacity: 0.8;
}
header .sec-1-header .d-3-sec-1-header span {
  font-weight: 400;
}
header .sec-1-header .search-person {
  display: none;
}
@media (max-width: 1098px) {
  header .sec-1-header .search-person {
    display: inline;
  }
}
header .sec-1-header .search-person i {
  color: #5e5e5e;
  margin: 0 8px;
  font-size: 28px;
}
header .sec-2-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 90px);
  padding: 8px 30px 10px 60px;
  height: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 909px) {
  header .sec-2-header::-webkit-scrollbar {
    height: 5px !important;
  }
  header .sec-2-header::-webkit-scrollbar-thumb {
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
  }
}
@media (max-width: 568px) {
  header .sec-2-header {
    width: calc(100% - 12px);
    padding: 6px;
  }
}
header .sec-2-header::-webkit-scrollbar {
  height: 0;
}
header .sec-2-header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
header .sec-2-header a img {
  width: 40px;
  height: 40px;
}
header .sec-2-header a p {
  color: rgb(102, 102, 102);
  font-size: 12px;
  padding-top: 5px;
}
@media (max-width: 568px) {
  header .sec-2-header a p {
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1300px;
}
@media (max-width: 1300px) {
  main {
    width: 100%;
  }
}
main .sec-1 {
  margin-top: 200px;
}
@media (max-width: 1300px) {
  main .sec-1 {
    width: 100%;
  }
}
main .sec-1 h4 {
  color: #333;
  margin-right: 25px;
}
main .sec-1 .sec-child-sec-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "d-1-sec-1 d-2-sec-1 d-3-sec-1 d-4-sec-1 d-5-sec-1 d-6-sec-1" "d-7-sec-1 d-8-sec-1 d-9-sec-1 d-10-sec-1 d-11-sec-1 d-12-sec-1";
}
@media (max-width: 1300px) {
  main .sec-1 .sec-child-sec-1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "d-1-sec-1 d-2-sec-1 d-3-sec-1 d-4-sec-1" "d-5-sec-1 d-6-sec-1 d-7-sec-1 d-8-sec-1" "d-9-sec-1 d-10-sec-1 d-11-sec-1 d-12-sec-1";
  }
}
@media (max-width: 992px) {
  main .sec-1 .sec-child-sec-1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "d-1-sec-1 d-2-sec-1 d-3-sec-1" "d-4-sec-1 d-5-sec-1 d-6-sec-1" "d-7-sec-1 d-8-sec-1 d-9-sec-1" "d-10-sec-1 d-11-sec-1 d-12-sec-1";
  }
}
@media (max-width: 600px) {
  main .sec-1 .sec-child-sec-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "d-1-sec-1" " d-2-sec-1" "d-3-sec-1 " "d-4-sec-1" "d-5-sec-1 " "d-6-sec-1" "d-7-sec-1 " "d-8-sec-1" "d-9-sec-1 " "d-10-sec-1" "d-11-sec-1 " "d-12-sec-1";
  }
}
main .sec-1 .sec-child-sec-1 .d-1-sec-1 {
  grid-area: d-1-sec-1;
  background-image: url("../img/website_image_asian_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-2-sec-1 {
  grid-area: d-2-sec-1;
  background-image: url("../img/website_image_fastfood_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-3-sec-1 {
  grid-area: d-3-sec-1;
  background-image: url("../img/website_image_kebab_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-4-sec-1 {
  grid-area: d-4-sec-1;
  background-image: url("../img/website_image_pizza_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-5-sec-1 {
  grid-area: d-5-sec-1;
  background-image: url("../img/website_image_burger_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-6-sec-1 {
  grid-area: d-6-sec-1;
  background-image: url("../img/website_image_sandwich_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-7-sec-1 {
  grid-area: d-7-sec-1;
  background-image: url("../img/website_image_sokhari_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-8-sec-1 {
  grid-area: d-8-sec-1;
  background-image: url("../img/website_image_italy_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-9-sec-1 {
  grid-area: d-9-sec-1;
  background-image: url("../img/website_image_salad_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-10-sec-1 {
  grid-area: d-10-sec-1;
  background-image: url("../img/website_image_seafood_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-11-sec-1 {
  grid-area: d-11-sec-1;
  background-image: url("../img/website_image_asian_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-12-sec-1 {
  grid-area: d-12-sec-1;
  background-image: url("../img/website_image_gilani_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .sec-1 .sec-child-sec-1 .d-sec-1 {
  width: 175px;
  height: 120px;
  position: relative;
  border-radius: 13px;
  margin: 20px;
  border: 3px solid #fff;
  box-shadow: 0.2px 0.2px 20px 0.2px rgb(224, 224, 224);
  cursor: pointer;
}
@media (max-width: 1300px) {
  main .sec-1 .sec-child-sec-1 .d-sec-1 {
    width: 90%;
    margin: 10px;
  }
}
main .sec-1 .sec-child-sec-1 .d-sec-1 .matn-sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 12px 0 8px 0;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
  padding-right: 10px;
  background-color: #fff;
}
main .sec-1 .sec-child-sec-1 .d-sec-1 .matn-sec-1:hover i {
  transition: transform 0.4s;
  transform: translateX(-3px);
}
main .sec-1 .sec-child-sec-1 .d-sec-1 .matn-sec-1 p {
  color: rgb(58, 61, 66);
  margin: 0;
}
main .sec-1 .sec-child-sec-1 .d-sec-1 .matn-sec-1 i {
  color: #FF00A6;
  margin: 0;
}
main .sec-2 {
  display: flex;
  flex-direction: row;
  background-color: #ecebeb;
  border-radius: 0 0 130px 0;
  height: 550px;
  margin: 200px 0 140px 0;
  padding: 40px 64px 0 64px;
}
@media (max-width: 1300px) {
  main .sec-2 {
    width: calc(100% - 110px);
  }
}
@media (max-width: 568px) {
  main .sec-2 {
    padding: 10px;
    width: calc(100% - 20px);
  }
}
main .sec-2 .d-1-sec-2 {
  padding: 0 80px 0 96px;
  height: 100%;
}
@media (max-width: 568px) {
  main .sec-2 .d-1-sec-2 {
    padding: 10px;
    width: calc(100% - 20px);
  }
}
main .sec-2 .d-1-sec-2 form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  width: 300px;
  margin-bottom: 30px;
  border-radius: 6px;
}
@media (max-width: 568px) {
  main .sec-2 .d-1-sec-2 form {
    width: calc(100% - 10px);
  }
}
main .sec-2 .d-1-sec-2 form input {
  background-color: transparent;
  border: none;
}
main .sec-2 .d-1-sec-2 form input:focus {
  outline: none;
}
main .sec-2 .d-1-sec-2 form input::-moz-placeholder {
  letter-spacing: 2px;
  color: rgb(175, 175, 175);
}
main .sec-2 .d-1-sec-2 form input::placeholder {
  letter-spacing: 2px;
  color: rgb(175, 175, 175);
}
main .sec-2 .d-1-sec-2 form button {
  white-space: nowrap;
  cursor: pointer;
  background-color: #FF00A6;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 10px 17px;
  border-radius: 7px;
  font-size: 13px;
  font-family: IRANSansMobile;
}
main .sec-2 .d-1-sec-2 form button:hover {
  opacity: 0.9;
}
main .sec-2 .d-1-sec-2 h1 {
  color: #333;
  font-size: 35px;
  margin-bottom: 40px;
}
@media (max-width: 568px) {
  main .sec-2 .d-1-sec-2 h1 {
    font-size: 25px;
    margin: 15px 0;
  }
}
main .sec-2 .d-1-sec-2 .p-1-d-1-sec-2 {
  line-height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(83, 86, 92);
  margin-bottom: 60px;
}
main .sec-2 .d-1-sec-2 .p-2-d-1-sec-2 {
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-weight: 600;
}
main .sec-2 .d-1-sec-2 .img-d-1-sec-2 img {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  margin: 2px;
}
main .sec-2 .d-1-sec-2 .img-d-1-sec-2 .iapp {
  transform: translateY(5px);
  width: 140px;
  height: 50px;
}
main .sec-2 .d-2-sec-2 {
  height: 100%;
}
main .sec-2 .d-2-sec-2 img {
  width: 450px;
  height: 650px;
  transform: translateY(-170px);
}
@media (max-width: 992px) {
  main .sec-2 .d-2-sec-2 img {
    display: none;
  }
}
main .sec-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(249, 250, 251);
  border-radius: 25px;
}
@media (max-width: 1300px) {
  main .sec-3 {
    width: 100%;
  }
}
main .sec-3 .d-1-sec-3 {
  padding: 25px 50px;
}
@media (max-width: 568px) {
  main .sec-3 .d-1-sec-3 {
    padding: 10px;
  }
}
main .sec-3 .d-1-sec-3 h2 {
  color: #333;
  font-size: 30px;
}
@media (max-width: 568px) {
  main .sec-3 .d-1-sec-3 h2 {
    font-size: 24px;
    margin: 8px 0;
  }
}
main .sec-3 .d-1-sec-3 p {
  color: #333;
  margin: 40px 0;
  font-size: 18px;
}
@media (max-width: 568px) {
  main .sec-3 .d-1-sec-3 p {
    margin: 20px 0;
  }
}
main .sec-3 .d-1-sec-3 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FF00A6;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}
main .sec-3 .d-1-sec-3 button:hover {
  opacity: 0.8;
}
main .sec-3 .d-1-sec-3 button a {
  color: #fff;
  font-family: IRANSansMobile;
  font-weight: 600;
  padding-right: 10px;
  font-size: 15px;
}
main .sec-3 .d-1-sec-3 button i {
  color: #fff;
}
main .sec-3 .d-2-sec-3 img {
  transform: translateY(-100px);
  padding-left: 50px;
}
@media (max-width: 992px) {
  main .sec-3 .d-2-sec-3 img {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
footer .sec-1-footer {
  width: calc(100% - 100px);
  padding: 20px 20px 50px 80px;
  border-top: 0.0625rem solid rgb(235, 237, 240);
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1280px) {
  footer .sec-1-footer {
    padding-left: 0;
  }
}
@media (max-width: 568px) {
  footer .sec-1-footer {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
footer .sec-1-footer h4 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(58, 61, 66);
}
footer .sec-1-footer .city-footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "d-1-sec-1-footer d-2-sec-1-footer d-3-sec-1-footer d-4-sec-1-footer d-5-sec-1-footer d-6-sec-1-footer d-7-sec-1-footer d-8-sec-1-footer d-9-sec-1-footer d-10-sec-1-footer d-11-sec-1-footer d-12-sec-1-footer";
}
@media (max-width: 1280px) {
  footer .sec-1-footer .city-footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "d-1-sec-1-footer d-2-sec-1-footer d-3-sec-1-footer d-4-sec-1-footer d-5-sec-1-footer d-6-sec-1-footer" "d-7-sec-1-footer d-8-sec-1-footer d-9-sec-1-footer d-10-sec-1-footer d-11-sec-1-footer d-12-sec-1-footer";
  }
}
@media (max-width: 960px) {
  footer .sec-1-footer .city-footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "d-1-sec-1-footer d-2-sec-1-footer d-3-sec-1-footer d-4-sec-1-footer" "d-5-sec-1-footer d-6-sec-1-footer d-7-sec-1-footer d-8-sec-1-footer" "d-9-sec-1-footer d-10-sec-1-footer d-11-sec-1-footer d-12-sec-1-footer";
  }
}
@media (max-width: 600px) {
  footer .sec-1-footer .city-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "d-1-sec-1-footer d-2-sec-1-footer d-3-sec-1-footer" "d-4-sec-1-footer d-5-sec-1-footer d-6-sec-1-footer" "d-7-sec-1-footer d-8-sec-1-footer d-9-sec-1-footer" "d-10-sec-1-footer d-11-sec-1-footer d-12-sec-1-footer";
  }
}
footer .sec-1-footer .city-footer .d-1-sec-1-footer {
  grid-area: d-1-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-2-sec-1-footer {
  grid-area: d-2-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-3-sec-1-footer {
  grid-area: d-3-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-4-sec-1-footer {
  grid-area: d-4-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-5-sec-1-footer {
  grid-area: d-5-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-6-sec-1-footer {
  grid-area: d-6-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-7-sec-1-footer {
  grid-area: d-7-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-8-sec-1-footer {
  grid-area: d-8-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-9-sec-1-footer {
  grid-area: d-9-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-10-sec-1-footer {
  grid-area: d-10-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-11-sec-1-footer {
  grid-area: d-11-sec-1-footer;
}
footer .sec-1-footer .city-footer .d-12-sec-1-footer {
  grid-area: d-12-sec-1-footer;
}
footer .sec-1-footer .city-footer div {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 12px;
}
footer .sec-1-footer .city-footer div a {
  font-size: 10px;
  color: rgb(150, 150, 150);
}
footer .sec-2-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 100px);
  background-color: rgb(249, 250, 251);
  padding: 20px 50px 60px 50px;
  flex-wrap: wrap;
}
@media (max-width: 568px) {
  footer .sec-2-footer {
    padding: 10px;
    width: calc(100% - 20px);
  }
}
footer .sec-2-footer .d-1-sec-2-footer {
  padding: 20px;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer .snapp-food-pink {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  width: 60px;
  align-items: flex-end;
  color: #FF00A6;
  cursor: pointer;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer .snapp-food-pink p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer .matn-snapp-food-pink {
  margin-right: 30px;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer .matn-snapp-food-pink .snapp-food-farsi-pink {
  color: #FF00A6;
  font-weight: 700;
  font-size: 18px;
}
footer .sec-2-footer .d-1-sec-2-footer .d-matn-icon-footer .matn-snapp-food-pink p {
  color: #333;
  font-size: 12px;
}
footer .sec-2-footer .d-1-sec-2-footer .d-icon-footer {
  margin: 20px 80px 0 0;
}
footer .sec-2-footer .d-1-sec-2-footer .d-icon-footer i {
  cursor: pointer;
  color: rgb(85, 85, 85);
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 4px 0.5px rgb(187, 187, 187);
  padding: 8px 10px;
  font-size: 20px;
  margin: 0 8px;
}
footer .sec-2-footer .d-2-sec-2-footer, footer .sec-2-footer .d-3-sec-2-footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-self: flex-start;
  font-size: 11px;
}
footer .sec-2-footer .d-2-sec-2-footer a, footer .sec-2-footer .d-3-sec-2-footer a {
  color: #000;
  margin: 10px 0;
}
footer .sec-2-footer .d-4-sec-2-footer {
  align-self: flex-start;
  padding: 20px;
}
footer .sec-2-footer .d-4-sec-2-footer img {
  width: 70px;
  height: 75px;
}/*# sourceMappingURL=style.css.map */